{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About The Project</h1>
</div>
<p class="lead">This project hopes to allow users to build Reddit Bots for any task.</p>
<p>This app started as a school project with the prompt being "do something interesting". I thought it would be interesting to have Python compile Python to create user customizable bots for Reddit.</p>
<p>This project is just in the proof of concept stage but I hope to expand it to become something really useful and cool.</p>
<p>More bots shall come.</p>

{% endblock %}
