{% extends 'layouts/main.html' %}
{% block title %}Build a Reddit Bot{% endblock %}
{% block content %}

<div class="row">
    <div class="col-xs-12">
        <h1>RedditBot -- Proof of Concept</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>search configuration</h2>
        <form id="search-form" method="post" role="form" action="http://reddit.jheron.io/">
            <div class="form-group">
                {{ 
                    form.subreddits(
                        class_      = 'form-control first-input', 
                        placeholder = "subreddits: buildapcsales, hardwareswap",
                        required    = true, autofocus = true
                    ) 
                }}
            </div>
            <div class="form-group">
                {{ 
                    form.searchwords(
                        class_      = 'form-control first-input', 
                        placeholder = "search terms: gpu, cpu", 
                        required    = true
                    ) 
                }}
            </div>
            <div class="form-group">
                {{ 
                    form.recipient(
                        class_      = 'form-control first-input', 
                        placeholder = "recipient: jason", 
                        required    = true
                    ) 
                }}
            </div>
            <div class="form-group">
                {{ 
                    form.frequency(
                        class_ = 'form-control first-input', 
                        placeholder = "reddit refresh rate: min 20 (seconds)", 
                        required = true
                    )
                }}
            </div>

            <h2>search location</h2>
            <div class="form-group">
            <div class="btn-group  btn-group-justified" data-toggle="buttons" >
                <label class="btn btn-primary">
                    <input type="radio" name="title" value=1 data-id="0">
                    titles
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="comment" value=1 data-id="0">
                    comments
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="title_comment" value=1 data-id="0">
                    both
                </label>
            </div>
            </div>

            <h2>match action on Reddit</h2>
            <div class="form-group">
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="print" value=1 data-id="0">
                    print to console
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="message" value=1 data-id="0">
                    direct message
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="respond" value=1 data-id="0">
                    response
                </label>
            </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    submit
                </button>
            </div>
        </form>
        
    </div>

    <div class="col-md-8">
        <h2>Generated Code</h2>
<pre id="gen_code">
</pre>
    </div>
</div>

{% endblock %}