{% extends 'layouts/main.html' %}
{% block title %}Build a Reddit Bot{% endblock %}
{% block content %}
<div class="page-header">
  <h1>Proof of concept: Search Bot</h1>
</div>
 <h2>Search Configuration</h2>
 <form method="post" class="form">
    {{ form.subreddits(class_ = 'form-control first-input', placeholder = "subreddits: buildapcsales, hardwareswap", required = true, autofocus = true) }}
    {{ form.searchwords(class_ = 'form-control first-input', placeholder = "search terms: gpu, cpu", required = true) }}
    {{ form.recipient(class_ = 'form-control first-input', placeholder = "recipient: jason", required = true) }}
    {{ form.frequency(class_ = 'form-control first-input', placeholder = "reddit refresh rate: min 20", required = true) }}
    <h2>Where to search</h2>
    <div class="checkbox" name="one">
        <label class="btn btn-danger pzt active">
            <input type="checkbox" name="title" value=1 data-id="0">Post Titles
        </label>
    </div>
    <div class="checkbox" name="two">
        <label class="btn btn-danger pzt active">
            <input type="checkbox" name="comment" value=1 data-id="0">Post Comments
        </label>
    </div>
    <h2>Action to take when a match is found</h2>
    <div class="checkbox" name="three">
        <label class="btn btn-danger pzt active">
            <input type="checkbox" name="print" value=1 data-id="0">Print results to terminal
        </label>
    </div>
    <div class="checkbox" name="four">
        <label class="btn btn-danger pzt active">
            <input type="checkbox" name="message" value=1 data-id="0">Message results to recipient
        </label>
    </div>
    <div class="checkbox" name="five">
        <label class="btn btn-danger pzt active">
            <input type="checkbox" name="respond" value=1 data-id="0">Respond to results
        </label>
    </div>
    <input type="submit" value="Build it" class="btn btn-primary btn-lg btn-block">
 </form>
{% endblock %}
